<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">
    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
        <div class="logo" [@animate]="{ value: '*', params: { scale: '0.2' } }">
            <!-- <img src="../../../assets/images/logos/candidhire_logo.svg" /> -->
        </div>

        <div class="title" [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }">
            Investment Assessment
        </div>

        <!-- <div
            class="description"
            [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }"
        >
            {{ "AUTHENTICATION.WELCOME_MESSAGE" | translate }}
        </div> -->
    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar
        [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }">
        <div id="login-form">
            <!-- <div class="logo mt-0" fxHide.gt-xs>
                <img src="../../../assets/images/logos/logo.svg" />
            </div> -->
            <div *ngIf="isShowQue" class="font-chnages">
                <div class="title" fxLayoutAlign="center center">
                    What is your problem
                </div>

                <form name="quesForm" [formGroup]="quesForm" novalidate (ngSubmit)="onOpenAI()">

                    <div *ngIf="true">
                        <mat-form-field appearance="outline">
                            <mat-label> Industry </mat-label>
                            <mat-select formControlName="industry" required>
                                <mat-option *ngFor="let item of industryMasterList" [value]="item.id">{{ item.name }}
                                </mat-option>

                            </mat-select>
                            <!-- <mat-icon matSuffix class="secondary-text">precision_manufacturing</mat-icon> -->
                            <mat-error *ngIf="quesForm.get('industry').hasError('required')">
                                Industry is required
                            </mat-error>
                            <!-- <mat-error
                            *ngIf="
                                !quesForm.get('industry').hasError('required') &&
                                quesForm.get('industry').hasError('pattern')
                            "
                        >
                        Enter a valid Email
                        </mat-error> -->
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Supply Chain Management Function</mat-label>
                            <mat-select  formControlName="supplyChain" multiple required
                                (selectionChange)="onChangeSupplyChain($event)" >
                                <mat-option *ngFor="let item of supplyChainList" [value]="item.id">{{ item.name }}
                                </mat-option>

                            </mat-select>
                            <!-- <mat-icon matSuffix class="secondary-text">precision_manufacturing</mat-icon> -->
                            <mat-error *ngIf="quesForm.get('supplyChain').hasError('required')">
                                Supply Chain is required
                            </mat-error>
                            <!-- <mat-error
                            *ngIf="
                                !quesForm.get('supplyChain').hasError('required') &&
                                quesForm.get('supplyChain').hasError('pattern')
                            "
                        >
                        Enter a valid Email
                        </mat-error> -->
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Component</mat-label>
                            <mat-select formControlName="component" multiple required (selectionChange)="onComponentChange($event)">
                                <mat-option *ngFor="let item of matchCompoentList" [value]="item.id">{{ item.name }}
                                </mat-option>
                            </mat-select>
                            <!-- <mat-icon matSuffix class="secondary-text">precision_manufacturing</mat-icon> -->
                            <mat-error *ngIf="quesForm.get('component').hasError('required')">
                                Component is required
                            </mat-error>
                            <!-- <mat-error
                            *ngIf="
                                !quesForm.get('component').hasError('required') &&
                                quesForm.get('component').hasError('pattern')
                            "
                        >
                        Enter a valid Email
                        </mat-error> -->
                        </mat-form-field>
                    </div>
<!--                    
                    <div *ngIf="false">
                    <div>
                        <ng-container>
                            <ng-select appearance="outline" formControlName="industry" [items]="industryMasterList" [clearable]="false"
                                [multiple]="true" bindLabel="name" bindValue="id" placeholder=" Industry *"
                                [ngClass]="{
                                    'chat-form-invalid': quesForm.get('industry').hasError('required') 
                                  }"></ng-select>
                                <div *ngIf="quesForm.get('industry').touched">
                                    <mat-error *ngIf="quesForm.get('industry').hasError('required')">
                                        <span style="padding-left: 10px;"> Industry is required </span>
                                    </mat-error>
                                </div>
                            </ng-container>
                    </div>

                    <div>
                        <ng-container>
                            <ng-select appearance="outline" formControlName="supplyChain"  [items]="supplyChainList" [clearable]="false"
                                [multiple]="true" bindLabel="name" bindValue="id" placeholder=" Supply Chain Management Function *"></ng-select>
                                <div *ngIf="quesForm.get('supplyChain').touched">
                                <mat-error *ngIf="quesForm.get('supplyChain').hasError('required')">
                                    <span style="padding-left: 10px;">Supply Chain is required </span>
                                </mat-error>
                            </div>
                        </ng-container>

                    </div>

                    <div>
                        <ng-container>
                            <ng-select appearance="outline" formControlName="component" [items]="matchCompoentList"
                                [clearable]="false" [multiple]="true" bindLabel="name" bindValue="id"
                                placeholder=" Component *" ></ng-select>
                                <div *ngIf="quesForm.get('component').touched">

                            <mat-error *ngIf="quesForm.get('component').hasError('required')">
                                <span style="padding-left: 10px;">Component is required </span>
                            </mat-error>
                            
                        </div>
                        </ng-container>
                    </div>
                    </div> -->
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Details</mat-label>
                        <textarea matInput name="details" formControlName="details" required  style="height: 70px;"
                            maxlength="100"></textarea>
                        <!-- <mat-icon matSuffix class="secondary-text">mail</mat-icon> -->
                        <mat-error *ngIf="quesForm.get('details').hasError('required')">
                            Enter the details issue
                        </mat-error>
                        <!-- <mat-error
                            *ngIf="
                                !quesForm.get('details').hasError('required') &&
                                quesForm.get('details').hasError('pattern')
                            "
                        >
                        Enter a valid Email
                        </mat-error> -->
                    </mat-form-field>

                    <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                        [disabled]="quesForm.invalid">
                        Continue
                    </button>

                </form>
                
            </div>
            <div *ngIf="isShowEMail">
                <div class="title" fxLayoutAlign="center center">
                    Register Now
                </div>

                <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="onLogin()">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput name="email" formControlName="email" required autofocus />
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <mat-error *ngIf="loginForm.get('email').hasError('required')">
                            Email id required
                        </mat-error>
                        <mat-error *ngIf="
                                    !loginForm.get('email').hasError('required') &&
                                    loginForm.get('email').hasError('pattern')
                                ">
                            Enter a valid Email
                        </mat-error>
                    </mat-form-field>
                    <div *ngIf="isShowUserDetails">

                        <mat-form-field appearance="outline">
                            <mat-label>Contact No</mat-label>
                            <input matInput name="phoneNo" formControlName="phoneNo" autofocus />
                            <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                            <!-- <mat-error
                                    *ngIf="userDetailsForm.get('phoneNo').hasError('required')"
                                >
                                Email id required
                                </mat-error> -->
                            <mat-error *ngIf="
                                        !userDetailsForm.get('phoneNo').hasError('required') &&
                                        userDetailsForm.get('phoneNo').hasError('pattern')
                                    ">
                                Contact No is invalid
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Organization</mat-label>
                            <input matInput name="org" formControlName="org" autofocus maxlength="50" />
                            <mat-icon matSuffix class="secondary-text">business</mat-icon>
                            <!-- <mat-error
                                    *ngIf="userDetailsForm.get('org').hasError('required')"
                                >
                                Email id required
                                </mat-error> -->
                            <mat-error *ngIf="
                                        !userDetailsForm.get('org').hasError('required') &&
                                        userDetailsForm.get('org').hasError('pattern')
                                    ">
                                Enter a valid Organization
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Job Title</mat-label>
                            <input matInput name="jobTitle" formControlName="jobTitle" autofocus maxlength="50" />
                            <mat-icon matSuffix class="secondary-text">work_outline</mat-icon>
                            <!-- <mat-error
                                    *ngIf="userDetailsForm.get('jobTitle').hasError('required')"
                                >
                                Email id required
                                </mat-error> -->
                            <mat-error *ngIf="
                                        !userDetailsForm.get('jobTitle').hasError('required') &&
                                        userDetailsForm.get('jobTitle').hasError('pattern')
                                    ">
                                Enter a valid Job Title
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                            <input matInput name="country" formControlName="country" autofocus maxlength="30" />
                            <mat-icon matSuffix class="secondary-text">location_on</mat-icon>
                            <!-- <mat-error
                                    *ngIf="userDetailsForm.get('country').hasError('required')"
                                >
                                Email id required
                                </mat-error> -->
                            <mat-error *ngIf="
                                        !userDetailsForm.get('country').hasError('required') &&
                                        userDetailsForm.get('country').hasError('pattern')
                                    ">
                                Enter a valid Country
                            </mat-error>
                            <br>
                        </mat-form-field>
                       
                    </div>
                    <div class="button-container">
                        <button mat-raised-button class="left-button cta-button ml-10 mt-8" aria-label="Left Button" (click)="onBack(1)">
                            Back
                        </button>
                        <button mat-raised-button color="accent" class="right-button cta-button ml-12 mt-8" aria-label="LOGIN"
                            [disabled]="loginForm.invalid">
                            Continue
                        </button>
                    </div>
                </form>
               
            </div>
            <div *ngIf="false">
                <div class="title" fxLayoutAlign="center center">
                    Contact Information
                </div>

                <form name="userDetailsForm" [formGroup]="userDetailsForm" novalidate (ngSubmit)="onSaveUserInfo()">

                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Contact No</mat-label>
                            <input matInput name="phoneNo" formControlName="phoneNo" autofocus />
                            <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                            <!-- <mat-error
                                *ngIf="userDetailsForm.get('phoneNo').hasError('required')"
                            >
                            Email id required
                            </mat-error> -->
                            <mat-error *ngIf="
                                    !userDetailsForm.get('phoneNo').hasError('required') &&
                                    userDetailsForm.get('phoneNo').hasError('pattern')
                                ">
                                Contact No is invalid
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Organization</mat-label>
                            <input matInput name="org" formControlName="org" autofocus maxlength="50" />
                            <mat-icon matSuffix class="secondary-text">business</mat-icon>
                            <!-- <mat-error
                                *ngIf="userDetailsForm.get('org').hasError('required')"
                            >
                            Email id required
                            </mat-error> -->
                            <mat-error *ngIf="
                                    !userDetailsForm.get('org').hasError('required') &&
                                    userDetailsForm.get('org').hasError('pattern')
                                ">
                                Enter a valid Organization
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Job Title</mat-label>
                            <input matInput name="jobTitle" formControlName="jobTitle" autofocus maxlength="50" />
                            <mat-icon matSuffix class="secondary-text">work_outline</mat-icon>
                            <!-- <mat-error
                                *ngIf="userDetailsForm.get('jobTitle').hasError('required')"
                            >
                            Email id required
                            </mat-error> -->
                            <mat-error *ngIf="
                                    !userDetailsForm.get('jobTitle').hasError('required') &&
                                    userDetailsForm.get('jobTitle').hasError('pattern')
                                ">
                                Enter a valid Job Title
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                            <input matInput name="country" formControlName="country" autofocus maxlength="30" />
                            <mat-icon matSuffix class="secondary-text">location_on</mat-icon>
                            <!-- <mat-error
                                *ngIf="userDetailsForm.get('country').hasError('required')"
                            >
                            Email id required
                            </mat-error> -->
                            <mat-error *ngIf="
                                    !userDetailsForm.get('country').hasError('required') &&
                                    userDetailsForm.get('country').hasError('pattern')
                                ">
                                Enter a valid Country
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="button-container">
                        <button mat-raised-button class="left-button" aria-label="Left Button" (click)="onBack(2)">
                            Back
                        </button>
                        <button mat-raised-button color="accent" class="right-button" aria-label="Right Button"
                            [disabled]="userDetailsForm.invalid">
                            Continue
                        </button>
                    </div>
                </form>
            </div>

            <div *ngIf="isViewChatres">
                <div class="title" fxLayoutAlign="center center">
                    <strong>Our Suggestion </strong>
                </div>
                <br><br>

                <div  class="chat-res-left" [innerHTML]="chatGptRes | lineBreaks" ></div>
                <form>
                    <button mat-raised-button class="submit-button" aria-label="LOGIN" (click)="onBack(3)">
                        Back
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>